
.Home_divStyle{
    margin: auto;
    width: 1200px;
    height: 540px;
    background-color: yellow;
    padding:10px;
    position: absolute;
    left:100px;
    right:100px;
    top: 70px
}
.body_layout{
    margin: auto;
    text-align:center;
    width: 520px;
    height: 400px;
    border:1px solid Black;
    position: absolute;
    left:365px;
    top: 123px
}

.cellStyle{
    margin: auto;
    line-height:14px;
}

.user_layout{
    margin: auto;
    width: 600px;
    height:70px;
    border:1px solid Black;
    position: absolute;
    top: 10px;
    left:600px;
    right:499px;
}

.select_layout_1{
   color:white;
   font-weight: bold;
   font-size: 16px;
   top:50px;
   position:absolute;
   background:red;
   left:70px;
   width:400px;
   height:50px;

}

.select_layout_2{
    color:white;
    font-weight: bold;
    font-size: 16px;
    top:180px;
    position:absolute;
    background:red;
    left:70px;
    width:400px;
    height:50px;

}


.select_layout_3{
    color:white;
    font-weight: bold;
    font-size: 16px;
    top:310px;
    position:absolute;
    background:red;
    left:70px;
    width:400px;
    height:50px;

}
.userBody{
    position:absolute;
    top:4px;
    left:50px;
}

.labelStyle{
    font-weight:bold;
    font-size:18px;
}

.userOpt{
    border-style: none;
    color:black;
    font-weight: bold;
    font-size: 16px;
    position:absolute;
    background:Yellow;
    left:70px;
    width:250px;
    height:40px;
    top:15px;
}
